// moved from child_theme Various pages
.why-adler-masthead-content {
  grid-template-columns: 3fr 1fr;
  column-gap: 60px;
}
// ----------------------------- My CSS
.test-masthead-content {
  display: grid;
  grid-gap: 1em;
}

.why-adler-title {
  text-align: center;
  font-family: 'AvenirNextRegular';
}

.red-border {
  border: 3px red solid;
}
.blue-border {
  border: 3px blue solid;
}
.logo-text-grid {
  display: grid;
}