.test-masthead-content {
  display: grid;
  grid-gap: 1em;
}

.why-adler-title {
  text-align: center;
  font-family: 'AvenirNextRegular';
}

.red-border {
  border: 3px red solid;
}
.blue-border {

}