#main-menu li a.btn {
  padding: 1em;
}

#main-menu li {
  padding-bottom: 0;
  margin: 0 1em;
}

#main-menu a.nav-link {
  margin-left: 0;
}

#main-menu .btn-primary {
  // padding: 0;
  padding: 0 0.75em;
}
// stroke text
.main-statement, .sub-statement {
  color: $white;
  -webkit-text-stroke: 0;
}
.main-statement h1 {
  font-weight: 700;
  font-size: 1.6rem;
      line-height: 1.1;
      padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .main-statement h1 {
      font-size: 3rem;
      line-height: 1.1;
      padding-bottom: 0.8em;
     
  }
}
.offset-centered {
  margin: auto;
  max-width: 75%;
}
.text-stroke-settings {
  overflow:hidden;
  text-shadow: 0 0 5px $primary,0 0 5px $primary,
               0 0 5px $primary,0 0 5px $primary,
               0 0 5px $primary,0 0 5px $primary,
               0 0 5px $primary,0 0 5px $primary;
}
// utilities
.separator-hr {
  background-color: $border-blue;
  opacity: 100%;
}

.section-tertiary-background {
  background-color: $tertiary;
  color: $primary;
}
.section-white-background {
  background-color: white;
  color: $primary;
}
