#main-menu li a.btn {
  padding: 1em;
}

#main-menu li {
  padding-bottom: 0;
  margin: 0 1em;
}

#main-menu a.nav-link {
  margin-left: 0;
}

#main-menu .btn-primary {
  // padding: 0;
  padding: 0 0.75em;
}